<div class="uc-wrapper">
	<div class="uc-nav nav--show">
		<ul>
			<li *ngFor="let item of docks">
				<a class="nav__item nav__item--dashbord">
					<span class="nav__icon icon--md {{item.icon}}"  ng-class="{'nav__icon--current':item.name === currentProductState}"></span>
					<span class="nav__title">
                        <span>{{item.name}}</span>
					</span>
				</a>
			</li>			
		</ul>
	</div>
	<!--<div class="uc-contont">
		<div class="uc-subnav">
			<ul ng-controller="commonSubMenuCtrl" class="ng-scope">
				<li>
					<span class="subnav__item subnav__item--type ng-scope" translate="UHOST">云主机</span>
				</li>
				<li ng-repeat="item in menu track by item.name" ng-if="item.show &amp;&amp; item.menu !== false" class="ng-scope">
					<a class="subnav__item subnav__item--current" ui-sref="uhost_manage" target="" ng-class="{'subnav__item--current':item.name === currentState}"
						href="/uhost/uhost">
						<span translate="UHOST_MANAGE" class="ng-scope">主机管理</span>
					</a>
				</li>
				<li ng-repeat="item in menu track by item.name" ng-if="item.show &amp;&amp; item.menu !== false" class="ng-scope">
					<a class="subnav__item" ui-sref="uimage" target="" ng-class="{'subnav__item--current':item.name === currentState}" href="/uhost/uimage">
						<span translate="UIMAGE" class="ng-scope">镜像</span>
					</a>
				</li>
			</ul>
		</div>
	</div>-->
</div>