<div class="uc-nav nav--show">
	<ul>
		<li>
			<a class="nav__item nav__item--dashbord" routerLink="/dashboard" routerLinkActive="nav__item--current">
				<span class="nav__icon icon--md icon__dashboard" routerLinkActive="nav__icon--current"></span>
				<span class="nav__title">
                        <span>总览</span>
				</span>
			</a>
		</li>
		<li *ngFor="let item of docks">
			<a class="nav__item nav__item--dashbord" routerLink="/user" routerLinkActive="nav__item--current">
				<span class="nav__icon icon--md {{item.icon}}" routerLinkActive="nav__icon--current"></span>
				<span class="nav__title">
                        <span>{{item.name}}</span>
				</span>
			</a>
		</li>
	</ul>
</div>