<div style="height:100%;width:100%">
	<div class="uc-main-wrapper">
		<div class="uc-top">
			<a class="top__logo u-white">
				<h1>N</h1>
			</a>
			<nerv-startmenu></nerv-startmenu>
			<div class="top__user">
				<div class="top__user-mail top-entry">
					<div class="u-dropdown">
						<div style="position: relative">
							<div class="u-dropdown-header ng-scope" ng-transclude="">
								<div class="uc-tipshead ng-scope ng-isolate-scope" uc-tooltip="" content="('INDEX_TOP7' | translate)">
									<span class="user__icon icon__mail icon--sm u-white"></span>
									<span class="message-notice ng-binding ng-scope" ng-if="total > 0" ng-bind="(total>0?showNumber:'0')">1</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="top__user-mail top__user-help top-entry">
					<div ng-class="{'disabled':$udropdown.disabled}" class="u-dropdown ng-isolate-scope">
						<div style="position: relative">
							<div class="u-dropdown-header ng-scope" ng-transclude="">
								<div class="uc-tipshead ng-scope ng-isolate-scope" uc-tooltip="" content="'INDEX_TOP8' | translate">
									<span class="user__icon icon__circle-question icon--sm u-white"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="user__name">
					<div class="u-dropdown ng-isolate-scope">
						<div style="position: relative">
							<div class="u-dropdown-header ng-scope" ng-transclude="">
								<div class="uc-drophead ng-scope">
									<span class="u-dib ng-binding">user</span>
									<span class="user-icon icon__down icon--xs u-white"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="uc-wrapper">
			<div class="uc-nav nav--show">
				<ul>
					<li class="ng-scope">
						<a class="nav__item nav__item--dashbord">
							<span class="nav__icon icon__dashboard icon--md" ng-class="{'nav__icon--current':item.name === currentProductState}"></span>
							<span class="nav__title">
                        <span translate="DASHBOARD" class="ng-scope">概况</span>
							</span>
						</a>
					</li>
					<li class="ng-scope">
						<a class="nav__item">
							<span class="nav__icon icon__uhost icon--md" ng-class="{'nav__icon--current':item.name === currentProductState}"></span>
							<span class="nav__title">
                        <span translate="UHOST" class="ng-scope">云主机</span>
							</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="uc-contont">
				<div class="uc-subnav">
					<ul ng-controller="commonSubMenuCtrl" class="ng-scope">
						<li>
							<span class="subnav__item subnav__item--type ng-scope" translate="UHOST">云主机</span>
						</li>
						<li ng-repeat="item in menu track by item.name" ng-if="item.show &amp;&amp; item.menu !== false" class="ng-scope">
							<a class="subnav__item subnav__item--current" ui-sref="uhost_manage" target="" ng-class="{'subnav__item--current':item.name === currentState}"
								href="/uhost/uhost">
								<span translate="UHOST_MANAGE" class="ng-scope">主机管理</span>
							</a>
						</li>
						<li ng-repeat="item in menu track by item.name" ng-if="item.show &amp;&amp; item.menu !== false" class="ng-scope">
							<a class="subnav__item" ui-sref="uimage" target="" ng-class="{'subnav__item--current':item.name === currentState}" href="/uhost/uimage">
								<span translate="UIMAGE" class="ng-scope">镜像</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>