<div class="top__summary">
	<div class="u-dropdown">
		<div style="postition: relative">
			<div class="u-dropdown-header" (click)="onToggle()">
				<div class="uc-tipshead">
					<span>{{title}}</span>
				</div>
			</div>
			<div class="uc-dashboard" *ngIf="display" style="background: rgb(255, 255, 255); overflow: auto; transition: opacity 0.1s linear; display: block; opacity: 100; width: 1000px; height: 700px; right: auto; z-index: 100; position: absolute; top: 56px; left: 0px;">
				<div class="dashboard__main u-clearfix">
					<div class="dashboard__piece ng-scope" *ngFor="let catalog of catalogs">
						<div class="dashboard__piece-title ng-scope" translate="INDEX_TOP_COMPUTE">{{catalog.name}}</div>
						<div class="dashboard__piece-list">
							<ul>
								<!-- ngRepeat: nav in item track by nav.name -->
								<!-- ngIf: nav.show -->
								<li class="dashboard__piece-item ng-scope active" *ngFor="let item of catalog.items" ><a class="dashboard__item-link ng-isolate-scope" uc-tooltip="" content="nav.name | uppercase | translate" ui-sref="UHost"
										target="" href="/uhost">
										<span class="dashboard__item-icon icon--sm icon__uhost"></span>
										<span ng-bind="nav.name | uppercase | translate | byteEllipsis:16" class="ng-binding">{{item.name}}</span>
										<span class="ml5 ng-binding" ng-bind="nav.name | topNavNameFilter">UHost</span></a>									
										<span class="dashboard__mark--hover dashboard__mark-icon icon__collect u-fr ng-isolate-scope" ng-click="addRemoveQuickMenu(nav,$event)"
										uc-tooltip="" content="'INDEX_TOP12' | translate"></span>
										<span class="active dashboard__mark-icon icon__collected u-fr ng-isolate-scope"
										ng-click="addRemoveQuickMenu(nav,$event)" uc-tooltip="" content="'INDEX_TOP11' | translate"></span>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>