<div>
	<div class="top-tips"> <span class="console-icon small-infor-t"></span>
		<span translate="USUBACCOUNT160" class="ng-scope">使用系统的用户</span>
	</div>
	<div class="role-perate pl20 pt10 pb10">
		<a routerLink="/user/account/add">
			<button class="console-btn base-btn ng-scope">添加</button>
		</a>
	</div>

	<!-- ngIf: loading -->
	<div class="uc-f-t ng-isolate-scope" ng-class="css.table" ng-style="sty.table" uc-fixed-table="" data="items">
		<!--<div class="uc-f-t-h thead-viewport" ng-class="css.thead" ng-style="sty.thead">
			<table class="table table-bord" uc-fixed-thead-transclude="table">
				<thead class="ng-scope">
					<tr>
						<th>用户名</th>
						<th>昵称</th>
						<th>邮件</th>
						<th>电话</th>
						<th>操作</th>
					</tr>
				</thead>
			</table>
		</div>-->
		<div uc-adaptive-height="" class="page-padding-height" no-auto-height="" style="height: 350px; position: relative;">
			<div class="uc-f-t-b tab-new-main">
				<table class="table table-bord table-striped table-hover" uc-fixed-tbody-transclude="table">
					<thead>
						<tr>
							<th>用户名</th>
							<th>昵称</th>
							<th>邮件</th>
							<th>电话</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of accounts">
							<td class="name">{{item.name}}</td>
							<td class="name">{{item.nick}}</td>
							<td class="name">{{item.mail}}</td>
							<td class="name">{{item.phone}}</td>
							<td>
								<a class="table-operate" ng-click="lookRole(item)">
									<i class="icon-new icon-table sta-eye"></i>
									<span>查看</span>
								</a>
								<a class="table-operate ng-scope" ng-if="item.Modifiable == true" ng-click="editRole(item)">
									<i class="icon-new icon-table prefetch"></i>
									<span>编辑</span>
								</a>
								<a class="table-operate ng-scope" ng-if="item.Modifiable == true" ng-click="delRole(item)">
									<i class="icon-new icon-table trash"></i>
									<span>删除</span>
								</a>
							</td>
						</tr>
					</tbody>
					<thead>
					</thead>
					<tfoot></tfoot>
				</table>
			</div>
			<div class="no-content-warp ng-hide" ng-show="key" key="false" message="" parent="$parent">
				<div class="no-content-tab " ng-class="css" uc-compile="message | trans" uc-compile-parent="parent"></div>
			</div>
			<div class="no-content-warp ng-hide" ng-show="key" key="false" message="" type="error" parent="$parent">
				<div class="no-content-tab  warning" ng-class="css" uc-compile="message | trans" uc-compile-parent="parent"></div>
			</div>
		</div>
		<div class="uc-f-t-f" ng-class="css.tfoot" ng-style="sty.tfoot">
			<table class="table table-bord" uc-fixed-tfoot-transclude="table"> </table>
		</div>
	</div>
	<div class="console-footer-content ng-isolate-scope" ng-show="totalSize" boundary-links="true" total-size="totalSize" page-size="pageSize"
		max-page="maxPage" current-page="currentPage" change-page="changePage()">
		<div class="console-pagination">
			<ul class="page-current pagination ng-isolate-scope ng-valid ng-hide" ng-show="totalSize > pageSize" boundary-links="true"
				total-items="totalSize" items-per-page="pageSize" max-size="maxPage" ng-model="currentPage" ng-change="changePageFuc(currentPage)"
				previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页">
				<!-- ngIf: boundaryLinks -->
				<li ng-if="boundaryLinks" ng-class="{disabled: noPrevious()}" class="ng-scope disabled"><a href="" ng-click="selectPage(1)" class="ng-binding">首页</a></li>
				<!-- end ngIf: boundaryLinks -->
				<!-- ngIf: directionLinks -->
				<li ng-if="directionLinks" ng-class="{disabled: noPrevious()}" class="ng-scope disabled"><a href="" ng-click="selectPage(page - 1)" class="ng-binding">上一页</a></li>
				<!-- end ngIf: directionLinks -->
				<!-- ngRepeat: page in pages track by $index -->
				<li ng-repeat="page in pages track by $index" ng-class="{active: page.active}" class="ng-scope active"><a href="" ng-click="selectPage(page.number)" class="ng-binding">1</a></li>
				<!-- end ngRepeat: page in pages track by $index -->
				<!-- ngIf: directionLinks -->
				<li ng-if="directionLinks" ng-class="{disabled: noNext()}" class="ng-scope disabled"><a href="" ng-click="selectPage(page + 1)" class="ng-binding">下一页</a></li>
				<!-- end ngIf: directionLinks -->
				<!-- ngIf: boundaryLinks -->
				<li ng-if="boundaryLinks" ng-class="{disabled: noNext()}" class="ng-scope disabled"><a href="" ng-click="selectPage(totalPages)" class="ng-binding">尾页</a></li>
				<!-- end ngIf: boundaryLinks -->
			</ul>
			<ul class="page-num">
				<li>每页显示：</li>
				<!-- ngRepeat: page in pageSizeItems track by $index -->
				<li ng-repeat="page in pageSizeItems track by $index" ng-click="changePageSize(page)" ng-class="{'active':currentPageSize==page}"
					class="ng-scope active"><a ng-bind="page" class="ng-binding">10</a></li>
				<!-- end ngRepeat: page in pageSizeItems track by $index -->
				<li ng-repeat="page in pageSizeItems track by $index" ng-click="changePageSize(page)" ng-class="{'active':currentPageSize==page}"
					class="ng-scope"><a ng-bind="page" class="ng-binding">25</a></li>
				<!-- end ngRepeat: page in pageSizeItems track by $index -->
				<li ng-repeat="page in pageSizeItems track by $index" ng-click="changePageSize(page)" ng-class="{'active':currentPageSize==page}"
					class="ng-scope"><a ng-bind="page" class="ng-binding">50</a></li>
				<!-- end ngRepeat: page in pageSizeItems track by $index -->
				<li ng-repeat="page in pageSizeItems track by $index" ng-click="changePageSize(page)" ng-class="{'active':currentPageSize==page}"
					class="ng-scope"><a ng-bind="page" class="ng-binding">100</a></li>
				<!-- end ngRepeat: page in pageSizeItems track by $index -->
			</ul>
			<div ng-transclude=""></div>
		</div>
	</div>
</div>